<!-- MAIN CONTAINER FOR THE ADMIN ERROR PAGE -->
<div class="errorContainer">
  <h1 class="errorTitle">{{ "ERROR.ADMIN" | i18next }}</h1>
  <p class="errorMessage">{{ "ERROR.ADMIN_TITLE" | i18next }}</p>
  <h3 class="errorInstructions">{{ "ERROR.ADMIN_INSTRUCTIONS" | i18next }}</h3>

  <ul class="errorList">
    <li class="errorItem">{{ "ERROR.ADMIN_EMAIL" | i18next }} <strong>{{ "ERROR.ADMIN_LOGIN_EMAIL" | i18next }}</strong></li>
    <li class="errorItem">{{ "ERROR.ADMIN_PASSWORD" | i18next }} <strong>{{ "ERROR.ADMIN_LOGIN_PASSWORD" | i18next }}</strong></li>
  </ul>
  
  <button class="login" (click)="openLoginModal()">{{ "ERROR.ADMIN_BUTTON" | i18next }}</button>
</div>