<!--TABLES-->
<div class="tableContainer" [ngClass]="getTableClass(year)" *ngFor="let year of years">
  <h2 class="tableTitle">{{ 'TABLES.TITLE' | i18next }} {{ year }}</h2>

  <!-- Filters for the tables -->
  <div class="filtersContainer">
    <div *ngFor="let filter of filters" class="dropdown" (click)="toggleDropdown(filter.key, year)"
      [ngClass]="{'selected': isDropdownOpen(filter.key, year)}">
      <!-- Currently selected filter value-->
      <div class="dropdownHeader">
        {{ selectedFilter[year][filter.key] === '' || selectedFilter[year][filter.key] === 'Todos' ||
        selectedFilter[year][filter.key] === 'Todas' ? filter.label : selectedFilter[year][filter.key] }}
      </div>
      <!-- Dropdown content with filter options -->
      <div class="dropdownContent" [ngClass]="getDropdownClasses(filter, year)">
        <ul class="ulItem">
          <li class="liItem" *ngFor="let option of filter.options"
            (click)="selectFilter(filter.key, option, $event, year)">
            <a [ngClass]="{'selected': selectedFilter[year][filter.key] === option}">{{ option }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Table displaying games data -->
  <table [id]="'gamesTable' + year">
    <thead>
      <tr>
        <th *ngFor="let column of visibleColumns[year]">{{ column }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of getFilteredGames(year)">
        <td *ngIf="isColumnVisible('Título', year)">{{ game.title }}</td>
        <td *ngIf="isColumnVisible('Precio', year)">{{ game.price }}</td>
        <td *ngIf="isColumnVisible('Plataforma', year)">{{ game.platform }}</td>
        <td *ngIf="isColumnVisible('Género', year)">{{ game.genre }}</td>
        <td *ngIf="isColumnVisible('PEGI', year)">{{ game.pegi }}</td>
        <td *ngIf="isColumnVisible('Mes de salida', year)">{{ game.releaseDate }}</td>
      </tr>
    </tbody>
  </table>

  <div class="tableFooter">
    <div class="columnSelection">
      <label *ngFor="let column of allColumns[year]" class="columnCheckbox">
        <input type="checkbox" [checked]="isColumnVisible(column, year)" (change)="toggleColumn(column, year)" />
        {{ column }}
      </label>
    </div>

    <div class="paginationControls">
      <button (click)="changePage(year, currentPage[year] - 1)" [disabled]="currentPage[year] === 1">{{
        'TABLES.PREVIOUS_PAGE' | i18next }}</button>
      <span>{{ 'TABLES.PAGE' | i18next }} {{ currentPage[year] }} {{ 'TABLES.CONNECTOR' | i18next }} {{ totalPages[year]
        }}</span>
      <button (click)="changePage(year, currentPage[year] + 1)" [disabled]="currentPage[year] === totalPages[year]">{{
        'TABLES.NEXT_PAGE' | i18next }}</button>
    </div>
  </div>

  <button class="excel" (click)="exportToExcel('gamesTable' + year)">{{ 'TABLES.EXCEL' | i18next }}</button>
</div>