<!-- GAME SECTIONS -->
<div *ngFor="let section of gameSections">
    <div class="carouselHeader">
        <h2 class="sectionTitle">{{ 'GAMES.' + section.key.toUpperCase() | i18next }}</h2>

        <!-- Navigation controls for the carousel -->
        <div class="carouselControls">
            <div class="carousel-control-circle" [ngClass]="{ buttonDisabled: startIndex[section.key] === 0 }"
                (click)="navigateCarousel(section.key, 'prev')">
                <button class="carousel-control-prev">
                    <i class="fa-solid fa-arrow-left arrow-icon"></i>
                </button>
            </div>
            <div class="carousel-control-circle" [ngClass]="{
                buttonDisabled: endIndex[section.key] >= (section.games?.length || 0)
            }" (click)="navigateCarousel(section.key, 'next')">
                <button class="carousel-control-next">
                    <i class="fa-solid fa-arrow-right arrow-icon"></i>
                </button>
            </div>
        </div>
    </div>

    <hr />

    <!-- Carousel container -->
    <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="group-container d-flex">
                    <div *ngFor="let game of getVisibleGames(section.key)" class="divGames">
                        <a [routerLink]="['/games', formatURL(game.title)]" class="gameLink">
                            <img class="gameContainer" [src]="game.img" />
                            <div class="overlay">
                                <div class="gameTitle">{{ game.title | truncateText: 18 }}</div>
                                <div class="ratingContainer">
                                    <p class="ratingBox" [class]="getRatingClass(game.qualification)">
                                        {{ game.qualification != null ? game.qualification : "tbd" }}
                                    </p>
                                    <span class="ratingText" *ngIf="game.qualification !== null">
                                        {{ getRatingText(game.qualification) }}
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- QUIZZ SECTION -->
    <div *ngIf="section.key === 'upcomingReleases'">
        <div *ngIf="currentQuizQuestion" class="quizContainer">
            
            <!-- Quiz question -->
            <div class="quizQuestion">
                <span class="questionText">{{ currentQuizQuestion?.question }}</span>
            </div>

            <!-- Answer options -->
            <div class="optionsContainer">
                <div *ngFor="let option of currentQuizQuestion?.options" (click)="checkAnswer(option)"
                    class="optionLabel"
                    [class.correct]="selectedOption === currentQuizQuestion?.answer && option === currentQuizQuestion?.answer"
                    [class.incorrect]="selectedOption !== currentQuizQuestion?.answer && selectedOption === option">
                    {{ option }}
                </div>
            </div>
        </div>
    </div>
</div>